@using Microsoft.AspNetCore.Components.Authorization
@using Sport_Slot_booking_system.Web.Layout

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <h3>Page not found</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>